{% extends 'base.html' %}
{% block content %}
<h1>Public Albums</h1>
<div>
{% for album in albums %}
<h1>{{ album.title }}</h1>
<a href="{% url 'single_album' album.id %}">
    <img src="{{ album.cover.image.url }}" width="200" height="200">
</a>
{% endfor %}
</div>
<ul class="pagination">
{% if albums.has_previous %}
  <li><a href="?page={{ albums.previous_page_number }}">&laquo;</a></li>
{% else %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% endif %}

{% for num in albums.paginator.page_range %}
  {% ifequal num albums.number %}
    <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
  {% else %}
    <li><a href="?page={{ num }}">{{ num }}</a></li>
  {% endifequal %}
{% endfor %}

{% if albums.has_next %}
  <li><a href="?page={{ albums.next_page_number }}">&raquo;</a></li>
{% else %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% endif %}
<ul>
{% endblock content %}