{% extends 'base.html' %}
{% load thumbnail %}
{% load query_parameters %}
{% block content %}
<div>
    <section>
    {% if user.first_name %}
    <h2>{{user.first_name|title }}'s Library</h2>
    {% else %}
    <h2>{{user.username }}'s Library</h2>
    {% endif %}
    <h3>Albums:</h3>
    {% for album in albums %}
    <h3>{{album.title}}</h3>
    <a href="{% url 'single_album' album.id %}" title="">
    <img src="{{ album.cover.image.url }}" width="200" height="200">
    </a>
<div class="btn-group-horizontal">
  <a href="/albums/{{ album.id }}/edit/" class="btn btn-primary">Edit</a>
  <a href="/albums/{{ album.id }}/delete/" class="btn btn-primary btn-danger">Delete</a>
</div>
    {% endfor %}
    </section>
    <ul class="pagination">
    {% if albums.has_previous %}
        {% set_query_parameters albums_page=albums.previous_page_number as=prev_page %}
      <li><a href="?{{ prev_page }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    {% for num in albums.paginator.page_range %}
      {% ifequal num albums.number %}
        <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
      {% else %}
          {% set_query_parameters albums_page=num as=page_num %}
        <li><a href="?{{ page_num }}">{{ num }}</a></li>
      {% endifequal %}
    {% endfor %}

    {% if albums.has_next %}
        {% set_query_parameters albums_page=albums.next_page_number as=next_page %}
      <li><a href="?{{ albums.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
    <ul>

    <section>
    <h3>Images:</h3>
    {% for photo in photos %}
    <a href="{% url 'single_photo' photo.id %}">
    <img src="{{ photo.image.url }}" width="200" height="200">
    </a>
    {{single_photo.title}}
<div class="btn-group-horizontal">
  <a href="/photos/{{ photo.id }}/edit/" class="btn btn-primary">Edit</a>
  <a href="/photos/{{ photo.id }}/delete/" class="btn btn-primary btn-danger">Delete</a>
</div>
    {% endfor %}
    </section>
    <ul class="pagination">
    {% if photos.has_previous %}
        {% set_query_parameters photos_page=photos.previous_page_number as=prev_page %}
      <li><a href="?{{ prev_page }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    {% for num in photos.paginator.page_range %}
      {% ifequal num photos.number %}
        <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
      {% else %}
        {% set_query_parameters photos_page=num as=page_num %}
        <li><a href="?{{ page_num }}">{{ num }}</a></li>
      {% endifequal %}
    {% endfor %}

    {% if photos.has_next %}
        {% set_query_parameters photos_page=photos.next_page_number as=next_page %}
      <li><a href="?{{ next_page }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
    <ul>
</div>
{% endblock content %}

{% url 'edit_photo' single_photo.id %}