{% extends 'base.html' %}
{% block content %}
<h2>Django Album</h2>
    <h5>
    This is a simple Image Album Web App created using Django
    </h5>
    <h3>
    Features
    </h3>
    <ul>
    <li>User Profile having various information about the user</li>
    <li>Album attached to users having various information like Title , Cover , Photos , Publishing Privacy,Date Created etc.</li>
    <li>Photos for each user having various information like Title , Description , Publishing Privacy , Date Created etc.</li>
        <li>Public Albums and Photos</li>
        <li>Possible to edit and delete the Albums and Photos</li>
        <li>API endpoints supporting CRUD operation for Album models and Update,Delete options for User models</li>
        <li>Like Button for each photo and album used by registered users.</li>
    </ul>
{% endblock content %}